body {
	font-family: monospace;
}

body a {
	color: blue;
}

body a:active {
	color: red;
}

body header {
	color: white;
	font-weight: bold;
	font-size: large;
	padding: 10px 10px 15px 10px;
	background: #171717;
	border: 1px solid #171717;
}

body header h1 {
	padding: 0px;
	margin: 0px;
}

body nav {
	background: #555555;
	border-left: 1px solid #171717;
	border-right: 1px solid #171717;
	border-bottom: 1px solid #171717;
}

body nav ul {
	margin: 0px;
	padding: 5px;
}

body nav ul li {
	display: inline;
	margin-right: 10px;
}

body nav ul li:hover {
}

body nav ul li a {
	color: white;
	text-decoration: none;
}

body nav ul li a:hover {
	color: silver;
	text-decoration: underline;
}

body div#content {
	min-height: 550px;
	padding: 5px;
}

body div#content h1 {
	font-size: x-large;
	padding: 0px;
	margin: 0px;
}

body header div#state {
	float: right;
	font-size: small;
}

body div#content h2 {
	font-size: large;
	border-bottom: 1px solid #171717;
}

body div#content table {
	width: 100%;
}

body div#content table tr th {
	border-bottom: 2px solid black;
}

body div#content table tr td {
	border-bottom: 1px solid black;
}

body #network-view {
	border: 1px solid black;
	background: silver;
	padding: 5px;
}

body #network-view h2 {
	padding: 3px;
	margin: 0px;
	background: gray;
	color: white;
	border: 0px solid transparent;
}

body #network-view div {
	margin: 5px;
	margin-left: 15px;
	border: 1px solid black;
	background: silver;
}

body div li {
	margin-top: 9px;
	margin-bottom: 9px;
}

body #zones-choice p {
	margin-left: 15px;
	padding: 10px;
	background: silver;
	border: 1px solid gray;
}

form h2 {
	
}

form label {
	display: block;
	float: left;
	width: 225px;
}

.tiny-column {
	width: 10%;
}

.info {
	background: #90C8F0;
	color: #11476E;
	border: 1px solid #11476E;
	padding: 3px;
}

.success {
	background: #98F69B;
	color: green;
	border: 1px solid green;
	padding: 3px;
}

.error {
	background: #F69898;
	color: red;
	border: 1px solid red;
	padding: 3px;
}

.status {
	font-weight: bold;
	color: #11476E;
}

.server-state {
	font-weight: bold;
	color: orange;
}
